.container {
  height: 100vh;
}

.header {
  display: flex;
  height: 5vh;
  border-bottom: 0.1rem solid #E6D5B8;
  align-items: center;
  padding: 1rem;
}

.header .logo {
  fill: #E6D5B8;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
